
# 🏡 SIT720 — Task 8.2D (HD+)
**Melbourne Housing Price Prediction — End‑to‑End Notebook (from raw → app)**

**Dataset:** `dataset_realestate.csv` (scraped from realestate.com.au)  
**Goal:** Build and evaluate regression models to predict Melbourne housing prices and **exceed** the Distinction requirements.

**What this notebook does (HD targets):**
- Code‑driven **data preprocessing** with an **audit log** (transparent & reproducible)
- Clear **EDA** with short **interpretations**
- Compare ≥3 **regression models** via **5‑fold CV** using **MAE, RMSE, R²**
- **Permutation importance** for interpretability
- **Error analysis** by suburb/property type
- Tiny **Streamlit demo** for deployment screenshots

### Mapping to Assignment Requirements
1) **Data acquisition**: Uses your scraped dataset (≥150 points across 3 suburbs).  
2) **Preprocessing & EDA**: Cleaning, engineered features (distance to CBD, price per m²), visuals + commentary.  
3) **Model development**: ≥3 models, **k‑fold CV**, metrics (MAE, RMSE, R²).  
4) **Feature importance**: Model‑agnostic ranking (permutation importance).  
5) **Deployment**: Minimal Streamlit app; take a screenshot for your report.

> Tip: After each figure/table, paste the printed **Insight** line into your report and cross‑reference the figure number.

## 0) Setup & Imports

In [3]:

import os, re, math, json, warnings
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# ML stack
from sklearn.model_selection import KFold, cross_validate, cross_val_predict, RandomizedSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.metrics import make_scorer, r2_score, mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.inspection import permutation_importance
from scipy.stats import randint, uniform

warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 120)

# Paths (change RAW_PATH if your CSV is elsewhere)
RAW_PATH = Path("/data/dataset_realestate.csv")
CLEAN_PATH = Path("./realestate_clean.csv")
AUDIT_PATH = Path("./preprocess_audit.json")
MODEL_PATH = Path("./model.joblib")
APP_PATH = Path("./app.py")

print("Working dir:", os.getcwd())
print("Expecting raw dataset at:", RAW_PATH)

Working dir: /Users/nazhimkalam/Documents/Github/MS-Data-Science/SIT720 - Machine Learning/Realestate - D Task
Expecting raw dataset at: data/dataset_realestate.csv


## 1) Load Raw Data & Quick Profile
We first load the raw CSV and build a compact profile (null %, unique counts). Include a screenshot/table of `prof` in your report.

In [4]:

df_raw = pd.read_csv(RAW_PATH)
print("Raw shape:", df_raw.shape)
display(df_raw.head())

prof = (
    pd.DataFrame({
        "column": df_raw.columns,
        "dtype": [str(df_raw[c].dtype) for c in df_raw.columns],
        "non_null": [df_raw[c].notna().sum() for c in df_raw.columns],
        "null_%": [100*df_raw[c].isna().mean() for c in df_raw.columns],
        "n_unique": [df_raw[c].nunique(dropna=True) for c in df_raw.columns],
    })
    .sort_values(["null_%","column"])
    .reset_index(drop=True)
)
display(prof.head(30))

Raw shape: (225, 326)

,url,title,price/display,description,constructionStatus,channel,propertyType,landSize/display,landSize/displayApp,landSize/displayAppAbbreviated,landSize/unit,landSize/value,address/locality,address/location/latitude,address/location/longitude,address/postCode,address/postcode,address/showAddress,address/state,address/streetAddress,address/subdivisionCode,address/suburb,generalFeatures/bathrooms/label,generalFeatures/bathrooms/type,generalFeatures/bathrooms/value,generalFeatures/bedrooms/label,generalFeatures/bedrooms/type,generalFeatures/bedrooms/value,generalFeatures/parkingSpaces/label,generalFeatures/parkingSpaces/type,generalFeatures/parkingSpaces/value,propertyFeatures/0/features/0,propertyFeatures/0/features/1,propertyFeatures/0/features/2,propertyFeatures/0/features/3,propertyFeatures/0/features/4,propertyFeatures/0/features/5,propertyFeatures/0/features/6,propertyFeatures/0/features/7,propertyFeatures/0/features/8,propertyFeatures/0/features/9,propertyFeatures/0/features/10,propertyFeatures/0/features/11,propertyFeatures/0/features/12,propertyFeatures/0/label,propertyFeatures/0/section,propertyFeatures/1/features/0,propertyFeatures/1/features/1,propertyFeatures/1/features/2,propertyFeatures/1/features/3,propertyFeatures/1/features/4,propertyFeatures/1/features/5,propertyFeatures/1/features/6,propertyFeatures/1/features/7,propertyFeatures/1/features/8,propertyFeatures/1/features/9,propertyFeatures/1/features/10,propertyFeatures/1/features/11,propertyFeatures/1/features/12,propertyFeatures/1/label,...,images/34/name,images/34/resize,images/34/server,images/34/uri,images/34/video,dateSold/display,dateSold/value,status/label,status/type,agency/_links/agencyProfile/href,agency/_links/agencyProfileWebview/href,agency/address/postcode,agency/address/state,agency/address/streetAddress,agency/address/suburb,agency/agencyId,agency/branded,agency/brandingColors/primary,agency/brandingColors/text,agency/email,agency/logo/images/0/name,agency/logo/images/0/server,agency/logo/images/0/uri,agency/logo/images/1/name,agency/logo/images/1/server,agency/logo/images/1/uri,agency/logo/images/2/name,agency/logo/images/2/server,agency/logo/images/2/uri,agency/logo/images/3/name,agency/logo/images/3/server,agency/logo/images/3/uri,agency/logo/links/default,agency/logo/links/hero image,agency/logo/links/large,agency/logo/links/small,agency/name,agency/phoneNumber,agency/website,lister/_links/agentProfile/href,lister/_links/agentProfileWebview/href,lister/agentId,lister/email,lister/id,lister/jobTitle,lister/mainPhoto/name,lister/mainPhoto/server,lister/mainPhoto/uri,lister/mobilePhoneNumber,lister/name,lister/phoneNumber,lister/powerProfile,lister/website,modifiedDate/value,listingId,signature,featured,productDepth,advertising/priceRange,advertising/region
0,NaN,Generational Victorian Grandeur in a Dream Loc...,"$3,710,000",A rare opportunity to step into a generational...,established,sold,house,669 m&sup2;,669 m²,669 m²,m2,669.0,Hawthorn,-37.819717,145.044640,3122,3122,True,Vic,93 Liddiard Street,Vic,Hawthorn,Bathrooms: 1,bathrooms,1,Bedrooms: 4,bedrooms,4,Parking Spaces: 3,parkingSpaces,3.0,Garage: 1,Open Spaces: 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outdoor Features,outdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,13 Sep 2025,2025-09-13,Sold,sold,https://www.realestate.com.au/agency/marshall-...,https://www.realestate.com.au/agency/marshall-...,3122,VIC,801 Glenferrie Road,Hawthorn,ULNKAO,True,#00101f,#ffffff,advertisingteam@marshallwhite.com.au,large,https://i3.au.reastatic.net,/170x32/a0f0afa8beea76b4336ad3c1958befe38f91aa...,default,https://i3.au.reastatic.net,/160x30/a0f0afa8beea76b4336ad3c1958befe38f91aa...,small,https://i3.au.reastatic.net,/114x21/a0f0afa8beea76b4336ad3c1958befe38f91aa...,hero image,https://i3.au.reastatic.net,/1536x800/674be371b9b1c187f5f88861e8cdda81eccc...,/160x30/a0f0afa8beea76b4336ad3c1958befe38f91aa...,/1536x800/674be371b9b1c187f5f88861e8cdda81eccc...,/170x32/a0f0afa8beea76b4336ad3c1958befe38f91aa...,/114x21/a0f0afa8beea76b4336ad3c1958befe38f91aa...,Marshall White - Boroondara,03 9822 9999,http://www.marshallwhite.com.au,https://www.realestate.com.au/agent/853631,https://www.realestate.com.au/agent/webview/85...,c6e1e175-b812-4d23-86b6-c9e2f870067c,chris.barrett@marshallwhite.com.au,853631,"Director, Licensed Estate Agent",main photo,https://i3.au.reastatic.net,/865f2ac1ed45f022bc66f1940d5021bf0c58c5d5ba1a6...,412927409,Chris Barrett,412927409,True,http://www.marshallwhite.com.au,NaN,148839944,True,False,signature,3.5m_4m,inner_east_melbourne
1,NaN,Classical North-facing Victorian with a Genera...,"$3,500,000","Distinguished by well preserved, circa 1890 Vi...",established,sold,house,613 m&sup2;,613 m²,613 m²,m2,613.0,Hawthorn,-37.814675,145.025439,3122,3122,True,Vic,39 Grove Road,Vic,Hawthorn,Bathrooms: 2,bathrooms,2,Bedrooms: 4,bedrooms,4,Parking Spaces: 3,parkingSpaces,3.0,Open Spaces: 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outdoor Features,outdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,13 Sep 2025,2025-09-13,Sold,sold,https://www.realestate.com.au/agency/marshall-...,https://www.realestate.com.au/agency/marshall-...,3122,VIC,801 Glenferrie Road,Hawthorn,ULNKAO,True,#00101f,#ffffff,advertisingteam@marshallwhite.com.au,large,https://i3.au.reastatic.net,/170x32/a0f0afa8beea76b4336ad3c1958befe38f91aa...,default,https://i3.au.reastatic.net,/160x30/a0f0afa8beea76b4336ad3c1958befe38f91aa...,small,https://i3.au.reastatic.net,/114x21/a0f0afa8beea76b4336ad3c1958befe38f91aa...,hero image,https://i3.au.reastatic.net,/1536x800/674be371b9b1c187f5f88861e8cdda81eccc...,/160x30/a0f0afa8beea76b4336ad3c1958befe38f91aa...,/1536x800/674be371b9b1c187f5f88861e8cdda81eccc...,/170x32/a0f0afa8beea76b4336ad3c1958befe38f91aa...,/114x21/a0f0afa8beea76b4336ad3c1958befe38f91aa...,Marshall White - Boroondara,03 9822 9999,http://www.marshallwhite.com.au,https://www.realestate.com.au/agent/853655,https://www.realestate.com.au/agent/webview/85...,NaN,nicholas.franzmann@marshallwhite.com.au,853655,"Director, Licensed Estate Agent",main photo,https://i3.au.reastatic.net,/2ea18388af8cf40ba8dfae1ef7253e1c730170edbbf4d...,412247175,Nicholas Franzmann,412247175,False,http://www.marshallwhite.com.au,NaN,148822832,True,False,signature,NaN,NaN
2,NaN,"House Like Scale, Lock-And-Leave Luxury","$1,210,000",Finding a contemporary four-bedroom apartment ...,established,sold,apartment,NaN,NaN,NaN,NaN,NaN,Hawthorn,-37.827869,145.034699,3122,3122,True,Vic,11/2 Henrietta Street,Vic,Hawthorn,Bathrooms: 2,bathrooms,2,Bedrooms: 4,bedrooms,4,Parking Spaces: 2,parkingSpaces,2.0,Balcony,Carport: 2,Secure Parking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outdoor Features,outdoor,Air Conditioning,Built-in Wardrobes,Dishwasher,Floorboards,Intercom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indoor Features,...,NaN,NaN,NaN,NaN,NaN,11 Sep 2025,2025-09-11,Sold,sold,https://www.realestate.com.au/agency/woodards-...,https://www.realestate.com.au/agency/woodards-...,3124,VIC,277 Camberwell Road,Camberwell,XPLCAM,True,#001535,#ffffff,camberwell@woodards.com.au,large,https://i3.au.reastatic.net,/170x32/d9a2c1b627a9bbffce083bf60aa4389a3cbb9b...,default,https://i3.au.reastatic.net,/160x30/d9a2c1b627a9bbffce083bf60aa4389a3cbb9b...,small,https://i3.au.reastatic.net,/114x21/d9a2c1b627a9bbffce083bf60aa4389a3cbb9b...,hero image,https://i3.au.reastatic.net,/1536x800/db6d65242fc62d43b98eb650e86a916fb3b3...,/160x30/d9a2c1b627a9bbffce083bf60aa4389a3cbb9b...,/1536x800/db6d65242fc62d43b98eb650e86a916fb3b3...,/170x32/d9a2c1b627a9bbffce083bf60aa4389a3cbb9b...,/114x21/d9a2c1b627a9bbffce083bf60aa4389a3cbb9b...,Woodards - Camberwell,03 9805 1111,http://www.woodards.com.au,https://www.realestate.com.au/agent/3569468,https://www.realestate.com.au/agent/webview/35...,a26422d1-9d41-4d03-8675-9ab4d7196647,jwu@woodards.com.au,3569468,Licensed Estate Agent,main photo,https://i3.au.reastatic.net,/8b4f688b310e9419062bdb4d9c120a597548cf110427f...,450880186,Jason Wu,450880186,True,http://www.woodards.com.au,NaN,148733536,True,False,signature,NaN,NaN
3,NaN,On Another Level. Literally.,"$800,000","Saturday, 4:32pm<br/><br/>The text thread's se...",established,sold,apartment,NaN,NaN,NaN,NaN,NaN,Hawthorn,-37.825660,145.025419,3122,3122,True,Vic,21/174 Power Street,Vic,Hawthorn,Bathrooms: 1,bathrooms,1,Bedrooms: 2,bedrooms,2,Parking Spaces: 1,parkingSpaces,1.0,Open Spaces: 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outdoor Features,outdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11 Sep 2025,2025-09-11,Sold,sold,https://www.realestate.com.au/agency/the-agenc...,https://www.realestate.com.au/agency/the-agenc...,3142,VIC,Vic Head Office | Level 3/489 Toorak Road,Toorak,ANIFZC,True,#282828,#ffffff,conciergemelbourne@theagency.com.au,large,https://i3.au.reastatic.net,/170x32/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,default,https://i3.au.reastatic.net,/160x30/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,small,https://i3.au.reastatic.net,/114x21/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,hero image,https://i3.au.reastatic.net,/1536x800/991c9bc242fcd76e13f8320b80d14b5a913b...,/160x30/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,/1536x800/991c9bc242fcd76e13f8320b80d14b5a913b...,/170x32/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,/114x21/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,The Agency - Victoria,03 8578 0388,http://www.theagency.com.au,https://www.realestate.com.au/agent/2695698,https://www.realestate.com.au/agent/webview/26...,833e5a0b-2624-459b-9fc9-3fd1345b3866,"lukesaville@theagency.com.au,capture@theagency...",2695698,Property Partner,main photo,https://i3.au.reastatic.net,/1462eb22c46c2d025c54296f703a1e7b83cdbdbc2eb2c...,437720806,Luke Saville,437720806,True,http://www.theagency.com.au,NaN,148810304,True,False,signature,NaN,NaN
4,NaN,Where vinyl spins and knees go weak.,"$675,000",The day begins like a slow seduction.<br/><br/...,established,sold,apartment,NaN,NaN,NaN,NaN,NaN,Hawthorn,-37.826548,145.025691,3122,3122,True,Vic,28/177 Power Street,Vic,Hawthorn,Bathrooms: 1,bathrooms,1,Bedrooms: 2,bedrooms,2,Parking Spaces: 1,parkingSpaces,1.0,Open Spaces: 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Outdoor Features,outdoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11 Sep 2025,2025-09-11,Sold,sold,https://www.realestate.com.au/agency/the-agenc...,https://www.realestate.com.au/agency/the-agenc...,3142,VIC,Vic Head Office | Level 3/489 Toorak Road,Toorak,ANIFZC,True,#282828,#ffffff,conciergemelbourne@theagency.com.au,large,https://i3.au.reastatic.net,/170x32/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,default,https://i3.au.reastatic.net,/160x30/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,small,https://i3.au.reastatic.net,/114x21/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,hero image,https://i3.au.reastatic.net,/1536x800/991c9bc242fcd76e13f8320b80d14b5a913b...,/160x30/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,/1536x800/991c9bc242fcd76e13f8320b80d14b5a913b...,/170x32/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,/114x21/ccd1f8e2a34dc7e6049557c0265c45d1851f80...,The Agency - Victoria,03 8578 0388,http://www.theagency.com.au,https://www.realestate.com.au/agent/2695698,https://www.realestate.com.au/agent/webview/26...,833e5a0b-2624-459b-9fc9-3fd1345b3866,"lukesaville@theagency.com.au,capture@theagency...",2695698,Property Partner,main photo,https://i3.au.reastatic.net,/1462eb22c46c2d025c54296f703a1e7b83cdbdbc2eb2c...,437720806,Luke Saville,437720806,True,http://www.theagency.com.au,NaN,148810300,True,False,signature,NaN,NaN

,column,dtype,non_null,null_%,n_unique
0,address/locality,object,225,0.0,3
1,address/postCode,int64,225,0.0,3
2,address/postcode,int64,225,0.0,3
3,address/showAddress,bool,225,0.0,1
4,address/state,object,225,0.0,1
5,address/streetAddress,object,225,0.0,200
6,address/subdivisionCode,object,225,0.0,1
7,address/suburb,object,225,0.0,3
8,agency/_links/agencyProfile/href,object,225,0.0,69
9,agency/_links/agencyProfileWebview/href,object,225,0.0,69
10,agency/address/postcode,int64,225,0.0,39
11,agency/address/state,object,225,0.0,1
12,agency/address/streetAddress,object,225,0.0,69
13,agency/address/suburb,object,225,0.0,38
14,agency/agencyId,object,225,0.0,69
15,agency/branded,bool,225,0.0,1
16,agency/brandingColors/primary,object,225,0.0,41
17,agency/brandingColors/text,object,225,0.0,2
18,agency/email,object,225,0.0,68
19,agency/logo/images/0/name,object,225,0.0,1
20,agency/logo/images/0/server,object,225,0.0,1
21,agency/logo/images/0/uri,object,225,0.0,52
22,agency/logo/images/1/name,object,225,0.0,1
23,agency/logo/images/1/server,object,225,0.0,1
24,agency/logo/images/1/uri,object,225,0.0,52
25,agency/logo/images/2/name,object,225,0.0,1
26,agency/logo/images/2/server,object,225,0.0,1
27,agency/logo/images/2/uri,object,225,0.0,52
28,agency/logo/links/default,object,225,0.0,52
29,agency/logo/links/large,object,225,0.0,52


## 2) Detect Key Fields (Adapts to Scrape Keys)
Your scrape may use nested/API-like keys. We detect candidate columns via name patterns so the pipeline is robust.

In [5]:

cols = df_raw.columns.tolist()
detect = lambda pat: [c for c in cols if re.search(pat, c, re.I)]

PRICE_COLS     = detect(r"(price/display|priceRange|^price$|sold[_/ ]?price)")
DATE_COLS      = detect(r"(dateSold|listed|modifiedDate|auction.*date)")
AREA_COLS      = detect(r"(land.*size|lot.*size|area)")
BED_COLS       = detect(r"bed(room)?s?.*value|bed(room)?s?$")
BATH_COLS      = detect(r"bath(room)?s?.*value|bath(room)?s?$")
CAR_COLS       = detect(r"(car|parking|garage).*value|(car|parking|garage)$")
LAT_COLS       = detect(r"latitude|lat$")
LON_COLS       = detect(r"longitude|lon|lng$")
TYPE_COLS      = detect(r"(propertyType|type$)")
SUBURB_COLS    = detect(r"(address/suburb|address/locality|suburb)")
POSTCODE_COLS  = detect(r"(address/postcode|address/postCode|postcode|post code)")

print("PRICE_COLS    :", PRICE_COLS[:4])
print("DATE_COLS     :", DATE_COLS[:4])
print("AREA_COLS     :", AREA_COLS[:4])
print("BED_COLS      :", BED_COLS[:4])
print("BATH_COLS     :", BATH_COLS[:4])
print("CAR_COLS      :", CAR_COLS[:4])
print("LAT_COLS      :", LAT_COLS[:4])
print("LON_COLS      :", LON_COLS[:4])
print("TYPE_COLS     :", TYPE_COLS[:4])
print("SUBURB_COLS   :", SUBURB_COLS[:4])
print("POSTCODE_COLS :", POSTCODE_COLS[:4])

PRICE_COLS    : ['price/display', 'advertising/priceRange']
DATE_COLS     : ['dateSold/display', 'dateSold/value', 'modifiedDate/value']
AREA_COLS     : ['landSize/display', 'landSize/displayApp', 'landSize/displayAppAbbreviated', 'landSize/unit']
BED_COLS      : ['generalFeatures/bedrooms/value']
BATH_COLS     : ['generalFeatures/bathrooms/value']
CAR_COLS      : ['generalFeatures/parkingSpaces/value']
LAT_COLS      : ['address/location/latitude']
LON_COLS      : ['address/location/longitude']
TYPE_COLS     : ['propertyType', 'generalFeatures/bathrooms/type', 'generalFeatures/bedrooms/type', 'generalFeatures/parkingSpaces/type']
SUBURB_COLS   : ['address/locality', 'address/suburb', 'agency/address/suburb']
POSTCODE_COLS : ['address/postCode', 'address/postcode', 'agency/address/postcode']


## 3) Helper Parsers
Convert messy listing text into numeric features. Keep these small and explainable in your report.

In [6]:

def parse_money(val):
    if pd.isna(val): return np.nan
    s = str(val).lower().strip()
    s = re.sub(r'(contact.*|price.*on.*|auction.*|tbd|poa|n/?a|negotiable|offers.*|by negotiation|^-$)', '', s)
    s = s.replace(',', '')
    m = re.findall(r'\$?\s*([\d\.]+)\s*(k|m)?', s)
    if not m:
        digits = re.findall(r'\d+', s)
        return float(''.join(digits)) if digits else np.nan
    nums = []
    for num, unit in m:
        x = float(num)
        if unit == 'k': x *= 1e3
        if unit == 'm': x *= 1e6
        nums.append(x)
    return float(np.mean(nums))

def parse_area(val):
    if pd.isna(val): return np.nan
    s = str(val).lower().strip().replace(',', '')
    s = s.replace('sqm', 'm2').replace('sq m', 'm2').replace('square metres', 'm2')
    m = re.findall(r'([\d\.]+)\s*(m2|m²|ha|acre|acres)?', s)
    if not m:
        digs = re.findall(r'[\d\.]+', s)
        return float(digs[0]) if digs else np.nan
    num, unit = m[0]
    x = float(num)
    if unit == 'ha': x *= 10000.0
    if unit in ('acre','acres'): x *= 4046.8564224
    return x

def to_int(val):
    if pd.isna(val): return np.nan
    m = re.findall(r'\d+', str(val))
    return int(m[0]) if m else np.nan

def to_dt(val):
    try:
        return pd.to_datetime(val, errors='coerce', infer_datetime_format=True, dayfirst=True)
    except Exception:
        return pd.to_datetime(val, errors='coerce')


## 4) Build Tidy Modeling Table
We consolidate scattered fields into a single, analysis‑ready table. **We keep the raw dataframe intact** for traceability.

In [7]:

df = df_raw.copy()

def first_available(series_list):
    base = None
    for s in series_list:
        if s is None: continue
        base = s if base is None else base.where(base.notna(), s)
    return base

# Target
price_series_list = [df[c].apply(parse_money) for c in PRICE_COLS if c in df]
df_out = pd.DataFrame()
df_out["price_target"] = first_available(price_series_list)

# Beds/Baths/Cars
df_out["bedrooms"]   = first_available([df[c].apply(to_int) for c in BED_COLS if c in df])
df_out["bathrooms"]  = first_available([df[c].apply(to_int) for c in BATH_COLS if c in df])
df_out["car_spaces"] = first_available([df[c].apply(to_int) for c in CAR_COLS if c in df])

# Land size
df_out["land_m2"] = first_available([df[c].apply(parse_area) for c in AREA_COLS if c in df])

# Categorical/meta
ptype = df[TYPE_COLS[0]].astype(str) if TYPE_COLS else "Unknown"
suburb= df[SUBURB_COLS[0]].astype(str) if SUBURB_COLS else "Unknown"
pc    = df[POSTCODE_COLS[0]] if POSTCODE_COLS else np.nan
df_out["property_type"] = ptype
df_out["suburb"]        = suburb
df_out["postcode"]      = pc

# Geo
lat = pd.to_numeric(df[LAT_COLS[0]], errors="coerce") if LAT_COLS else np.nan
lon = pd.to_numeric(df[LON_COLS[0]], errors="coerce") if LON_COLS else np.nan
df_out["lat"] = lat
df_out["lon"] = lon

# Dates
date_s = first_available([df[c].apply(to_dt) for c in DATE_COLS if c in df])
df_out["sold_date"]  = date_s
df_out["sold_year"]  = df_out["sold_date"].dt.year
df_out["sold_month"] = df_out["sold_date"].dt.month

print("Tidy table shape:", df_out.shape)
display(df_out.head())

Tidy table shape: (225, 13)

,price_target,bedrooms,bathrooms,car_spaces,land_m2,property_type,suburb,postcode,lat,lon,sold_date,sold_year,sold_month
0,3710000.0,4,1,3.0,669.0,house,Hawthorn,3122,-37.819717,145.044640,2025-09-13,2025,9
1,3500000.0,4,2,3.0,613.0,house,Hawthorn,3122,-37.814675,145.025439,2025-09-13,2025,9
2,1210000.0,4,2,2.0,NaN,apartment,Hawthorn,3122,-37.827869,145.034699,2025-09-11,2025,9
3,800000.0,2,1,1.0,NaN,apartment,Hawthorn,3122,-37.825660,145.025419,2025-09-11,2025,9
4,675000.0,2,1,1.0,NaN,apartment,Hawthorn,3122,-37.826548,145.025691,2025-09-11,2025,9


## 5) Feature Engineering
Add **distance to Melbourne CBD** and **price per m²**.

In [8]:

def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    p = math.pi/180.0
    lat1, lon1, lat2, lon2 = lat1*p, lon1*p, lat2*p, lon2*p
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = (math.sin(dlat/2)**2 + math.cos(lat1)*math.cos(lat2)*math.sin(dlon/2)**2)
    return 2 * R * math.asin(math.sqrt(a))

CBD_LAT, CBD_LON = -37.8136, 144.9631

df_out["dist_to_cbd_km"] = np.where(
    df_out[["lat","lon"]].notna().all(axis=1),
    [haversine_km(la, lo, CBD_LAT, CBD_LON) for la,lo in zip(df_out["lat"], df_out["lon"])],
    np.nan
)

df_out["price_per_m2"] = np.where(
    (df_out["price_target"].notna()) & (df_out["land_m2"]>0),
    df_out["price_target"] / df_out["land_m2"],
    np.nan
)

display(df_out.head())

,price_target,bedrooms,bathrooms,car_spaces,land_m2,property_type,suburb,postcode,lat,lon,sold_date,sold_year,sold_month,dist_to_cbd_km,price_per_m2
0,3710000.0,4,1,3.0,669.0,house,Hawthorn,3122,-37.819717,145.044640,2025-09-13,2025,9,7.194812,5545.590433
1,3500000.0,4,2,3.0,613.0,house,Hawthorn,3122,-37.814675,145.025439,2025-09-13,2025,9,5.477437,5709.624796
2,1210000.0,4,2,2.0,NaN,apartment,Hawthorn,3122,-37.827869,145.034699,2025-09-11,2025,9,6.486040,NaN
3,800000.0,2,1,1.0,NaN,apartment,Hawthorn,3122,-37.825660,145.025419,2025-09-11,2025,9,5.635835,NaN
4,675000.0,2,1,1.0,NaN,apartment,Hawthorn,3122,-37.826548,145.025691,2025-09-11,2025,9,5.683220,NaN


## 6) Cleaning Rules (Transparent) + Audit Log
- Drop duplicates on `(lat, lon, suburb, price_target)`  
- Drop rows without `price_target`  
- Remove implausible values (beds>12, baths>12, cars>10, land>10 ha)  
- Winsorize `price_target` at 1% tails

We save the cleaned CSV and an **audit JSON** describing decisions.

In [9]:

before = len(df_out)

df_out = df_out.drop_duplicates(subset=["lat","lon","suburb","price_target"], keep="first")
df_out = df_out[df_out["price_target"].notna()]

df_out["flag_bad_beds"]  = df_out["bedrooms"].fillna(0) > 12
df_out["flag_bad_baths"] = df_out["bathrooms"].fillna(0) > 12
df_out["flag_bad_cars"]  = df_out["car_spaces"].fillna(0) > 10
df_out["flag_bad_land"]  = df_out["land_m2"].fillna(0) > 100000
df_out = df_out[~(df_out[["flag_bad_beds","flag_bad_baths","flag_bad_cars","flag_bad_land"]].any(axis=1))]

lo, hi = df_out["price_target"].quantile([0.01, 0.99])
df_out["price_target"] = df_out["price_target"].clip(lower=lo, upper=hi)

after = len(df_out)
print(f"Rows before: {before} | after: {after} | removed: {before - after}")
display(df_out.head())

df_out.to_csv(CLEAN_PATH, index=False)
audit = {
    "rows_saved": int(len(df_out)),
    "cols_saved": int(len(df_out.columns)),
    "removed_rules": {
        "duplicates_on": ["lat","lon","suburb","price_target"],
        "no_target_dropped": True,
        "implausible_caps": {"bedrooms>12","bathrooms>12","car_spaces>10","land_m2>100000"},
        "winsorized_price_quantiles": {"low": float(lo), "high": float(hi)}
    },
    "source_file": str(RAW_PATH)
}
AUDIT_PATH.write_text(json.dumps(audit, indent=2))
print("Saved cleaned CSV →", CLEAN_PATH)
print("Saved audit JSON →", AUDIT_PATH)

Rows before: 225 | after: 200 | removed: 25

,price_target,bedrooms,bathrooms,car_spaces,land_m2,property_type,suburb,postcode,lat,lon,sold_date,sold_year,sold_month,dist_to_cbd_km,price_per_m2,flag_bad_beds,flag_bad_baths,flag_bad_cars,flag_bad_land
0,3501500.0,4,1,3.0,669.0,house,Hawthorn,3122,-37.819717,145.044640,2025-09-13,2025,9,7.194812,5545.590433,False,False,False,False
1,3500000.0,4,2,3.0,613.0,house,Hawthorn,3122,-37.814675,145.025439,2025-09-13,2025,9,5.477437,5709.624796,False,False,False,False
2,1210000.0,4,2,2.0,NaN,apartment,Hawthorn,3122,-37.827869,145.034699,2025-09-11,2025,9,6.486040,NaN,False,False,False,False
3,800000.0,2,1,1.0,NaN,apartment,Hawthorn,3122,-37.825660,145.025419,2025-09-11,2025,9,5.635835,NaN,False,False,False,False
4,675000.0,2,1,1.0,NaN,apartment,Hawthorn,3122,-37.826548,145.025691,2025-09-11,2025,9,5.683220,NaN,False,False,False,False

NameError: name 'CLEAN_PATH' is not defined


## 7) EDA — Visuals + Short Interpretations
Copy the printed **Insight** lines into your report under each figure.

In [ ]:

dfc = pd.read_csv(CLEAN_PATH, parse_dates=["sold_date"])

# Dist
plt.figure()
dfc["price_target"].plot(kind="hist", bins=30)
plt.title("Price distribution (post-cleaning)")
plt.xlabel("Price"); plt.ylabel("Count")
plt.show()
print("Insight: Prices are right‑skewed; a log target is appropriate to stabilize variance.")

# By suburb
if "suburb" in dfc.columns:
    plt.figure()
    dfc.boxplot(column="price_target", by="suburb", rot=45)
    plt.suptitle("")
    plt.title("Price by suburb")
    plt.ylabel("Price")
    plt.show()
    print("Insight: Median prices differ by suburb; suburb should be included as a categorical predictor.")

# Distance effect
if "dist_to_cbd_km" in dfc.columns:
    plt.figure()
    plt.scatter(dfc["dist_to_cbd_km"], dfc["price_target"], alpha=0.6)
    plt.title("Price vs Distance to CBD")
    plt.xlabel("Distance to CBD (km)"); plt.ylabel("Price")
    plt.show()
    print("Insight: Negative relationship; properties farther from the CBD tend to be cheaper.")

# Time trend
if dfc["sold_date"].notna().any():
    monthly = dfc.dropna(subset=["sold_date"]).set_index("sold_date")["price_target"].resample("M").median()
    if len(monthly) > 0:
        plt.figure()
        monthly.plot()
        plt.title("Median price over time (monthly)")
        plt.xlabel("Sold month"); plt.ylabel("Median price")
        plt.show()
        print("Insight: Describe whether trend is rising/flat/falling based on the chart.")


## 8) Modeling Setup — Pipelines & k‑Fold CV
- Target: `log1p(price)`  
- Preprocessing: impute numeric/categorical, scale numeric, one‑hot categoricals  
- CV: 5‑fold

In [ ]:

dfc = pd.read_csv(CLEAN_PATH, parse_dates=["sold_date"]).copy()
dfc["y"] = np.log1p(dfc["price_target"])

num_cols = ["bedrooms","bathrooms","car_spaces","land_m2","dist_to_cbd_km",
            "price_per_m2","sold_year","sold_month","lat","lon"]
cat_cols = ["property_type","suburb","postcode"]

X = dfc[num_cols + cat_cols]
y = dfc["y"]

pre = ColumnTransformer(
    transformers=[
        ("num", Pipeline([("imp", SimpleImputer(strategy="median")),
                          ("sc", StandardScaler())]), num_cols),
        ("cat", Pipeline([("imp", SimpleImputer(strategy="most_frequent")),
                          ("oh", OneHotEncoder(handle_unknown="ignore"))]), cat_cols)
    ]
)

def rmse(y_true, y_pred): 
    return np.sqrt(mean_squared_error(y_true, y_pred))

scorers = {
    "MAE": make_scorer(mean_absolute_error, greater_is_better=False),
    "RMSE": make_scorer(rmse, greater_is_better=False),
    "R2": make_scorer(r2_score),
}

cv = KFold(n_splits=5, shuffle=True, random_state=42)
print("Preprocessing & CV ready.")


## 9) Model Development — Train & Compare (Step‑3)
We train ≥3 models and compare via 5‑fold CV. We also convert errors back to **$** for interpretability.

In [ ]:

models = {
    "Linear": LinearRegression(),
    "RidgeCV": RidgeCV(alphas=np.logspace(-3,3,25)),
    "LassoCV": LassoCV(alphas=np.logspace(-3,3,25), max_iter=10000, random_state=42),
    "RandomForest": RandomForestRegressor(n_estimators=400, random_state=42, n_jobs=-1),
    "GBR": GradientBoostingRegressor(random_state=42)
}

rows = []
for name, est in models.items():
    pipe = Pipeline([("pre", pre), ("model", est)])
    scores = cross_validate(pipe, X, y, cv=cv, scoring=scorers, n_jobs=-1, return_train_score=False)
    rows.append({
        "model": name,
        "MAE_log": -scores["test_MAE"].mean(),
        "RMSE_log": -scores["test_RMSE"].mean(),
        "R2": scores["test_R2"].mean()
    })

results = pd.DataFrame(rows).sort_values("RMSE_log").reset_index(drop=True)
results["MAE_$"]  = np.expm1(results["MAE_log"])
results["RMSE_$"] = np.expm1(results["RMSE_log"])
display(results)

print("Interpretation: Choose the model with lowest RMSE (and strong R²). Tree-based models often handle non-linearities better than linear baselines.")


## 10) Optional Tuning (HD) — Random Forest
Improve the best tree model using **RandomizedSearchCV**. Report RMSE before/after (in dollars).

In [ ]:

pipe = Pipeline([("pre", pre), ("model", RandomForestRegressor(random_state=42, n_jobs=-1))])

param_dist = {
    "model__n_estimators": randint(300, 800),
    "model__max_depth": randint(4, 30),
    "model__min_samples_split": randint(2, 12),
    "model__min_samples_leaf": randint(1, 8),
    "model__max_features": uniform(0.3, 0.7)
}

search = RandomizedSearchCV(
    pipe, param_distributions=param_dist, n_iter=35, cv=cv,
    scoring="neg_root_mean_squared_error", n_jobs=-1, random_state=42, verbose=1
)
search.fit(X, y)

best_rmse_log = -search.best_score_
best_rmse_$   = np.expm1(best_rmse_log)

print("Best params:", search.best_params_)
print("Tuned RMSE (log):", best_rmse_log)
print("Tuned RMSE ($):", best_rmse_$)


## 11) Feature Importance (Step‑4) — Permutation Importance
Rank influential features; explain why they make sense in Melbourne (e.g., suburb, distance to CBD, land size).

In [ ]:

best_est = search.best_estimator_
best_est.fit(X, y)

oh = best_est.named_steps["pre"].named_transformers_["cat"].named_steps["oh"]
cat_names = oh.get_feature_names_out(["property_type","suburb","postcode"])
num_names = np.array(["bedrooms","bathrooms","car_spaces","land_m2","dist_to_cbd_km",
                      "price_per_m2","sold_year","sold_month","lat","lon"])
all_names = np.concatenate([num_names, cat_names])

perm = permutation_importance(best_est, X, y, n_repeats=10, random_state=42, n_jobs=-1)
imp = pd.Series(perm.importances_mean, index=all_names).sort_values(ascending=False)
display(imp.head(20))

print("Interpretation: Typically 'suburb_*', 'dist_to_cbd_km', 'land_m2', and 'bedrooms' are strong drivers.")


## 12) Error Analysis (HD polish)
Find segments (suburbs/types) with higher error to propose realistic improvements.

In [ ]:

y_pred_cv = cross_val_predict(best_est, X, y, cv=cv, n_jobs=-1)

err = pd.DataFrame({
    "suburb": dfc["suburb"],
    "property_type": dfc["property_type"],
    "y_true": y,
    "y_pred": y_pred_cv
})
err["abs_err_$"] = np.expm1((err["y_true"] - err["y_pred"]).abs())

err_by_suburb = err.groupby("suburb")["abs_err_$"].mean().sort_values(ascending=False).head(10)
err_by_type   = err.groupby("property_type")["abs_err_$"].mean().sort_values(ascending=False)

display(err_by_suburb)
display(err_by_type)

print("Interpretation: Where errors are highest, add richer features (school quality, build year, renovation), gather more samples, or try gradient boosting with tuned params.")


## 13) Persist Trained Pipeline (for the App)
Save the end‑to‑end pipeline so the Streamlit app can load it.

In [ ]:

import joblib
joblib.dump(best_est, MODEL_PATH)
print("Saved pipeline to:", MODEL_PATH)


## 14) Tiny Streamlit App (Step‑5: Deployment)
Run locally and take a screenshot for your report.

```bash
pip install streamlit joblib scikit-learn
streamlit run app.py
```

In [ ]:

app_code = r'''
import joblib, numpy as np, pandas as pd, streamlit as st

st.set_page_config(page_title="Melbourne House Price Estimator", layout="centered")
st.title("🏡 Melbourne House Price Estimator")

model = joblib.load("model.joblib")

# Minimal inputs
suburb = st.text_input("Suburb", "Glen Waverley")
ptype  = st.selectbox("Property type", ["house","unit","townhouse","apartment","villa","other"])
beds   = st.number_input("Bedrooms", 0, 12, 3)
baths  = st.number_input("Bathrooms", 0, 12, 2)
cars   = st.number_input("Car spaces", 0, 10, 1)
land   = st.number_input("Land size (m²)", 0, 5000, 500)
dist   = st.number_input("Distance to CBD (km)", 0.0, 60.0, 18.0)
sold_y = st.number_input("Sold year", 2000, 2030, 2025)
sold_m = st.number_input("Sold month", 1, 12, 9)

X = pd.DataFrame([{
  "bedrooms": beds, "bathrooms": baths, "car_spaces": cars, "land_m2": land,
  "property_type": ptype, "suburb": suburb, "postcode": np.nan,
  "lat": np.nan, "lon": np.nan, "sold_year": sold_y, "sold_month": sold_m,
  "dist_to_cbd_km": dist, "price_per_m2": np.nan
}])

if st.button("Predict price"):
    y_log = model.predict(X)[0]
    price = np.expm1(y_log)
    st.subheader(f"Estimated price: ${price:,.0f}")
'''
APP_PATH.write_text(app_code)
print("Wrote Streamlit app to:", APP_PATH)


## 15) Conclusions & Checklist
- **Preprocessing**: transparent, code‑driven, with audit log  
- **EDA**: interpreted visuals (distribution, suburb differences, distance effect, time trend)  
- **Models**: ≥3 models, 5‑fold CV, MAE/RMSE/R², $-converted errors  
- **Importance**: permutation importance (top drivers explained)  
- **Deployment**: minimal Streamlit app for demo screenshot  
- **HD polish**: segment error analysis + realistic next steps

**Future Work:** add school ratings, build year/renovation indicators, comparable sales history, and spatial smoothing to further reduce error.